* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrapper {
  overflow-x: hidden;
  transition: margin 0.5s ease;
}

#sidebar-wrapper {
  width: 250px;
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
  font-size: 12px;
  font-family: "proxima Thin";
  font-weight: bold;
  background-color: white !important;
}

#sidebar-wrapper div a {
  background-color: white !important;
}

#sidebar-wrapper div a:hover {
  background-color: #f4f4f4 !important;
}

/* #sidebar-wrapper .sidebar-heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.875rem 1.25rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: "proxima Regular";
  font-size: 14px;
  margin-bottom: 20px;
} */

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#page-content-wrapper .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#navbarDropdown img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  padding-left: 400px;
}

.topbar {
  height: 40px;
  width: 100%;
  background-color: #198754;
}

.navbar {
  height: 60px;
  padding: 0 !important;
  background-color: white;
}

.logo-text {
  display: flex;
  flex: 6;
  flex-direction: row;
  justify-content: center;
}

.logo-text span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px !important;
  font-size: 18px;
  font-family: "proxima Regular";
}

.logo-menu {
  display: flex;
  flex: 1;
  margin-left: 15px;
}

.logo-menu i:hover {
  cursor: pointer;
}

.logo-menu i {
  font-size: 1.4rem;
}

.profil {
  display: flex;
  flex: 1;
}

.main {
  padding: 20px;
  background-color: #f4f4f4;
  overflow-y: scroll;
}
.mainS {
  padding: 20px;
  background-color: #f4f4f4;
  overflow: hidden;
}

.mainCard {
  height: auto;
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
}

.header-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-card button {
  height: 35px;
  width: 100px;
  font-size: 12px;
  font-family: "Proxima Regular";
}

.header-card span {
  font-family: "Proxima Bold";
  font-size: 16px;
}

.header-card,
.middle-card {
  height: 50px;
}

.middle-card {
  position: relative !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.middle-card input {
  border-radius: 0px !important;
  width: 50%;
  border: 1px solid grey;
  padding: 7px;
  padding-right: 40px;
}

.middle-card i {
  position: absolute;
  top: 6px;
  left: 44%;
  font-size: 1.4rem;
}

.content-card {
  height: auto;
  margin-top: 10px;
}

.dropdown a {
  color: grey;
  font-size: 12px;
  text-decoration: none;
}

.survDropdown .dropdown-icon {
  display: none;
}

.options-icon {
  position: absolute;
  left: 10px;
  font-size: 14px;
}

.dropdown-menu a.dropdown-item {
  font-weight: bold;
  font-family: "Proxima Regular";
}

.modal-title {
  font-size: 24px;
  font-family: "Proxima Regular";
}

.modal-footer {
  font-size: 14px;
  font-family: "Proxima Regular";
}

.modal-form form {
  display: flex;
  flex-direction: column;
}

.modal-form form div {
  margin-bottom: 10px;
}

.modal-form form div label {
  font-size: 14px;
  font-family: "Proxima Bold";
}

thead tr {
  background-color: #f4f4f4;
}

thead tr th {
  font-size: 12px;
  font-family: "Proxima Bold";
}

tbody tr td {
  font-size: 12px;
  font-family: "Proxima Regular";
}

@media screen and (max-width: 768px) {
  .middle-card i {
    left: 43%;
  }
}

@media screen and (max-width: 500px) {
  .middle-card i {
    left: 41%;
  }
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -250px;
  }

  .profil {
    margin-right: 30px !important;
  }
}
