@font-face {
  font-family: "Roboto Medium";
  src: url("/Roboto/Roboto-Medium.ttf");
}

@media (max-width: 576px) {
  body {
    overflow: hidden !important;
    max-width: 100%;
    max-height: 100%;
  }
  .hide-img-sm {
    display: none;
  }
}

@media (min-width: 992px) {
  .view-img-sm {
    display: block;
  }
}

body {
  overflow: hidden !important;
  max-width: 100%;
  max-height: 100%;
}

.w-60 {
  width: 70%;
}

.pos-img-back {
  width: 880px;
  height: 600px;
  position: absolute;
  bottom: -6%;
  left: -5%;
}

.none_border:focus {
  box-shadow: none;
}

.perso_padding {
  padding-top: 30%;
}

.over-hidden {
  overflow-x: hidden;
  overflow-y: hidden;
}
.border-right {
  border-right: 1px solid #dee2e6 !important;
}

.rechercheTop {
  justify-content: center;
  margin-top: 12px;
  margin-right: 12px;
}

.list-group-item {
  padding: 0.75rem 1.25rem;
}

.menuSearch .form-control,
.app-search .form-control:focus {
  border: 1px solid #f2f2f2;
  font-size: 13px;
  height: 34px;
  color: #313a46;
  padding-left: 20px;
  padding-right: 40px;
  background: #f4f4f4;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 30px;
  width: 200px;
  margin-left: 20px;
}

.btnModal {
  display: flex;
  position: end;
  margin-left: 275px;
}
.btnModal button {
  margin-left: 5px;
}

.titreCours {
  margin: 10px;
  font-size: 17px;
  font-family: "proxima Bold";
}
.boutonT {
  width: 100px;
  color: #f4f4f4;
  background-color: #313a46;
  border-radius: 0;
  margin: 5px;
}
.effetVoulu{
  border-radius: 0;
}